In [1]:
import numpy as np
import pandas as pd

In [2]:
X1 = [
    -1.58,
    0.91,
    -0.73,
    -4.22,
    4.19,
    -0.33]

In [3]:
X2 = [
    -2.01,
    3.98,
    4.00,
    1.16,
    -2.02,
    2.15
]

In [4]:
d = {'X1': X1, 'X2': X2}

In [5]:
df = pd.DataFrame(data=d)

In [6]:
df

     X1    X2
0 -1.58 -2.01
1  0.91  3.98
2 -0.73  4.00
3 -4.22  1.16
4  4.19 -2.02
5 -0.33  2.15

In [11]:
threshold_1 = (df.X1.max() + df.X1.min())/2.0
threshold_1

-0.01499999999999968

In [12]:
df['1_X1_split'] = df.X1 > threshold_1

In [13]:
df

     X1    X2 1_X1_split
0 -1.58 -2.01      False
1  0.91  3.98       True
2 -0.73  4.00      False
3 -4.22  1.16      False
4  4.19 -2.02       True
5 -0.33  2.15      False

In [23]:
threshold_2 = (df[df['1_X1_split'] == False].X2.max() + df[df['1_X1_split'] == False].X2.min())/2.0
threshold_2

0.99500000000000011

In [17]:
df['2_X2_split'] = df[df['1_X1_split'] == False].X2 > threshold_2

In [18]:
df

     X1    X2 1_X1_split 2_X2_split
0 -1.58 -2.01      False      False
1  0.91  3.98       True        NaN
2 -0.73  4.00      False       True
3 -4.22  1.16      False       True
4  4.19 -2.02       True        NaN
5 -0.33  2.15      False       True

In [25]:
query = (-3.0, 1.5)

In [26]:
query[0] > threshold_1

False

In [27]:
query[1] > threshold_2

True

In [31]:
threshold_3 = (df[(df['1_X1_split'] == False) & (df['2_X2_split'] == True)].X1.max() + 
               df[(df['1_X1_split'] == False) & (df['2_X2_split'] == True)].X1.min())/2.0
threshold_3

-2.2749999999999999

In [32]:
df['3_X1_split'] = df[(df['1_X1_split'] == False) & (df['2_X2_split'] == True)].X1 > threshold_3

In [33]:
df

     X1    X2 1_X1_split 2_X2_split 3_X1_split
0 -1.58 -2.01      False      False        NaN
1  0.91  3.98       True        NaN        NaN
2 -0.73  4.00      False       True       True
3 -4.22  1.16      False       True      False
4  4.19 -2.02       True        NaN        NaN
5 -0.33  2.15      False       True       True

In [34]:
query[0] > threshold_3

False

In [36]:
df['dist'] = np.sqrt((df.X1 - query[0]) ** 2 + (df.X2 - query[1]) ** 2)

In [37]:
df

     X1    X2 1_X1_split 2_X2_split 3_X1_split      dist
0 -1.58 -2.01      False      False        NaN  3.786357
1  0.91  3.98       True        NaN        NaN  4.630173
2 -0.73  4.00      False       True       True  3.376818
3 -4.22  1.16      False       True      False  1.266491
4  4.19 -2.02       True        NaN        NaN  8.005404
5 -0.33  2.15      False       True       True  2.747981